{% extends 'base.html' %}


{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" style="margin-top:60px; border-radius:12px; background-color:#f9d908; color:#0d0b16">
      <div class="container">
        <p><image src="https://storage.googleapis.com/raw-content/potential_logos/under_construction.png" class="img-fluid rounded"></p>

        <h1 class="display-1">Apologies, This Page Is Under Construction</h1>
      </div>
    </div>

{% endblock %}