{% extends 'base.html' %}


{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" style="margin-top:60px; border-radius:12px; background-color:#f9d908; color:#0d0b16">
      <div class="container">
        <p><image src="https://storage.googleapis.com/raw-content/potential_logos/logo_lg.png" class="img-fluid rounded float-left max-width:5%"></p>
        <h1 class="display-3">Contacting Organic Sage</h1>
          <ul style="list-style-type: none;">
            <li>Email: inquiries@organicsageconsulting.com</li>
            <li>Phone: 570-228-5978</li>
            <li>Address: <br> 11699 N Monique dr., <br> Northport, MI 49670 </li>
          </ul>
      </div>
    </div>

{% endblock %}