{% extends 'base.html' %}


{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" style="margin-top:60px; border-radius:12px; background-color:#f9d908; color:#0d0b16">
      <div class="container">
<p><image src="https://storage.googleapis.com/raw-content/potential_logos/sample_logo.png" class="img-fluid rounded float-left max-width:10%"></p>

        <h1 class="display-3">Organic Sage Consulting</h1>
          <p>Over 40 years experience a fully integrated holistic family farm including livestock, poultry, field crops, small grain, flowers, vegetables, herbs and fruit, on farm processing, market development, product development and maintaining organic certification. Specialties include: Whole farm design; Organic certification compliance; HFAC Certified Humane compliance; Non-GMO Project compliance. </p>
        <p><a class="btn btn-lg" style="background-color:#67aeff; color:#0d0b16" href="/biography" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

{% endblock %}