{% extends 'base.html' %}


{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" style="margin-top:60px; border-radius:12px; background-color:#f9d908; color:#0d0b16">
      <div class="container">
<p><image src="https://storage.googleapis.com/raw-content/potential_logos/logo_lg.png" class="img-fluid rounded float-left max-width:5%"></p>

        <h1 class="display-3">Organic Sage Consulting</h1>
          <p>Evolved as the logical outcome of Leonard Pollara’s “Encyclopedic Knowledge”* of farming and
organic farming, and his willingness to share that knowledge. Formalized as a business in 2013,
Organic Sage Consulting brings over 40 years of direct experience interacting with and
managing living systems. Leonard operated Upper Meadows Farm in Sussex Co. NJ that was a
fully integrated family farm; comprising livestock, dairy, poultry, rabbits, pasture, field crops,
small grain, flowers, vegetables, herbs, orchards, cane fruit (berries), grapes, mushrooms,
wildcrafting, silviculture and included on farm processing.
We offer consulting support for: farming, farm building, farm development, product
development, market development, and design of the foregoing.
USDA National Organic Program certification compliance; Non GMO Project certification
compliance; FoodChain Global ID certification compliance, HFAC Certified Humane certification
compliance; ISO/FSSC 22000 certification compliance; and HACCP development round out the
services available.
*MARVIN NAFTAL -Owner; Leonard first consulted to FLATBROOK FARM, SANDYSTON NJ in 1992</p>
        <p><a class="btn btn-lg" style="background-color:#67aeff; color:#0d0b16" href="/biography" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

{% endblock %}
