<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS = false; L_NO_TOUCH = false; L_DISABLE_3D = false;</script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" />
    <link rel="stylesheet" href="https://rawgit.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css" />
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <style> #map_618adaa893c247f29962cbe71125e7fc {
                position : relative;
                width : 100.0%;
                height: 100.0%;
                left: 0.0%;
                top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-dvf/0.3.0/leaflet-dvf.markers.min.js"></script>
</head>
<body>    
    
            <div class="folium-map" id="map_618adaa893c247f29962cbe71125e7fc" ></div>
        
</body>
<script>    
    

            
                var bounds = null;
            

            var map_618adaa893c247f29962cbe71125e7fc = L.map(
                                  'map_618adaa893c247f29962cbe71125e7fc',
                                  {center: [0,0],
                                  zoom: 2.1,
                                  maxBounds: bounds,
                                  layers: [],
                                  worldCopyJump: false,
                                  crs: L.CRS.EPSG3857
                                 });
            
        
    
            var tile_layer_322efd65ccf442d5aa439a5b96fe3eaf = L.tileLayer(
                'https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png',
                {
  "attribution": null,
  "detectRetina": false,
  "maxZoom": 18,
  "minZoom": 1,
  "noWrap": false,
  "subdomains": "abc"
}
                ).addTo(map_618adaa893c247f29962cbe71125e7fc);
        
    
            var regular_polygon_marker_afaecfc6d2814736bd674a854c6752b8 = new L.RegularPolygonMarker(
                new L.LatLng(45.131388,-85.616751),
                {
                    icon : new L.Icon.Default(),
                    color: '#67aeff',
                    opacity: 1,
                    weight: 2,
                    fillColor: '#67aeff',
                    fillOpacity: 1,
                    numberOfSides: 4,
                    rotation: 0,
                    radius: 5
                    }
                )
                .addTo(map_618adaa893c247f29962cbe71125e7fc);
            
    
            var popup_7c7574579b3f447ba201862eb37b5c8f = L.popup({maxWidth: '2650'});

            
                var html_0a85545ed7fb48228c4efbb45a873654 = $('<div id="html_0a85545ed7fb48228c4efbb45a873654" style="width: 100.0%; height: 100.0%;"><a href= "/blog/post/2", target="_parent" > Sample Project </a></div>')[0];
                popup_7c7574579b3f447ba201862eb37b5c8f.setContent(html_0a85545ed7fb48228c4efbb45a873654);
            

            regular_polygon_marker_afaecfc6d2814736bd674a854c6752b8.bindPopup(popup_7c7574579b3f447ba201862eb37b5c8f);

            
        
    
            var regular_polygon_marker_3ccbf7914c834485adecfc7fa28cc8bd = new L.RegularPolygonMarker(
                new L.LatLng(-34.641667,148.025),
                {
                    icon : new L.Icon.Default(),
                    color: '#f9d908',
                    opacity: 1,
                    weight: 2,
                    fillColor: '#f9d908',
                    fillOpacity: 1,
                    numberOfSides: 4,
                    rotation: 0,
                    radius: 5
                    }
                )
                .addTo(map_618adaa893c247f29962cbe71125e7fc);
            
    
            var popup_424080f5f44049eebf81a0c5c03fb8a8 = L.popup({maxWidth: '2650'});

            
                var html_4cba23665a644866b243c84ea67ce4bc = $('<div id="html_4cba23665a644866b243c84ea67ce4bc" style="width: 100.0%; height: 100.0%;"><a href= "/blog/post/1", target="_parent" > Example 2 </a></div>')[0];
                popup_424080f5f44049eebf81a0c5c03fb8a8.setContent(html_4cba23665a644866b243c84ea67ce4bc);
            

            regular_polygon_marker_3ccbf7914c834485adecfc7fa28cc8bd.bindPopup(popup_424080f5f44049eebf81a0c5c03fb8a8);

            
        
    
            var regular_polygon_marker_e8ce248358f144bb91c5b040197032b0 = new L.RegularPolygonMarker(
                new L.LatLng(42.732535,-84.555535),
                {
                    icon : new L.Icon.Default(),
                    color: '#67aeff',
                    opacity: 1,
                    weight: 2,
                    fillColor: '#67aeff',
                    fillOpacity: 1,
                    numberOfSides: 4,
                    rotation: 0,
                    radius: 5
                    }
                )
                .addTo(map_618adaa893c247f29962cbe71125e7fc);
            
    
            var popup_2d2def71f98c4a5eb94f2e24c342beb4 = L.popup({maxWidth: '2650'});

            
                var html_c1f27d8138864042a8b3a46c43056709 = $('<div id="html_c1f27d8138864042a8b3a46c43056709" style="width: 100.0%; height: 100.0%;"><a href= "/blog/post/2", target="_parent" > Example 3 </a></div>')[0];
                popup_2d2def71f98c4a5eb94f2e24c342beb4.setContent(html_c1f27d8138864042a8b3a46c43056709);
            

            regular_polygon_marker_e8ce248358f144bb91c5b040197032b0.bindPopup(popup_2d2def71f98c4a5eb94f2e24c342beb4);

            
        
</script>