{% extends 'base.html' %}


{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->

    <div class="album py-5" style="margin-top:60px;background-color:#f9d908;">
    <div class="container">
        {% for qual in quals %}
            <div class="row">
                <div class="col-md-4">
                  <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src={{ qual.image_src }}>
                    <div class="card-body">
                      <p class="card-text">{{ qual.description }}</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <a class="btn btn-sm btn-outline-secondary" href={{ qual.certificate_link }}>View</a>
                        </div>
                          <small class="text-muted"><a href= {{ qual.certifying_authority }} > {{ qual.name }} </a></small>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        {% endfor %}
      </div>
    </div>


{% endblock %}