{% extends 'base.html' %}

{% block content %}
<div style="margin-top:60px; border-radius:12px;  margin-right:0px; margin-left:0px; padding-bottom: 20px; background-color:#f9d908;">
    <h1 class="display-3" style="margin-left:10px; color:#0d0b16">Organic Sage Services</h1>
    <p class="lead" style="margin-left:10px; color:#0d0b16"> Agriculture is, at its core, man’s management and influence over living systems. This management
        requires balancing a complex and ever changing set of variables. Organic Sage Consulting offers
        the insight of a life spent working in agriculture to help you build this balance. We bring a commitment
        to farming and its integral connection to life and the environment. If you want to build sustainable value
        in your living system then Organic Sage Consulting wants to help you. Organic Sage offers consulting services in: </p>
</div>
<div style="margin-left:0px; background-color:#F3FC9F;">
<!-- accordion -->
    {% for service in services %}
    <div class="panel-group" id="accordion" style="margin-left:0px; background-color:#F3FC9F;" >
        <!-- item in the accordion  -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <button class="btn btn-block text-left" style=" margin:5px; border-radius:12px; background-color:#67aeff; border-color:#F3FC9F; color:#0d0b16;" data-toggle="collapse" data-parent="#accordion" href="#collapse{{forloop.counter}}">
                ↓ {{ service.name }}
                </button>
            </div>
            <div id="collapse{{forloop.counter}}" class="panel-collapse collapse">
                <div class="panel-body" style="background-color: #F3FC9F; margin-left:10px;">
                    <ul class="lead">
                        {% for item in service.description_items %}
                            <li> {{ item }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
